* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.parent {
  /* height: 100vh;
  width: 100vd; */
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.card {
  height: 350px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 30px;
}
.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
}
.top img {
  height: 35px;
  width: 40px;
}
.top button {
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 18px;
}

.center {
  background-color: red;
}
.center h3 span {
  font-size: 17px;
  font-weight: 500;
}

.center h2 {
  font-style: 20px;
}

.card tag {
  display: flex;
  gap: 5px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #000;
  padding: 10px 0;
}
