.header {
  background-color: aquamarine;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10 20px;
  margin: 5px;
  border: 2px solid red;
}

.btn {
  font-size: 22px;
  margin: 5px;
  border: none;
  padding: 20px;
  background-color: red;
  color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
