.btn {
  color: black;
  background-color: yellow;
  width: fit-content;
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
