.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  border: 2px solid #000;
  padding: 20px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card p {
  padding: 5px;
}

.card img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.card button {
  padding: 10px 20px;
  border: lightblue;
  background-color: aliceblue;
  color: #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
